<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>掌上公交组件</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uppaysdk</string>
		<string>uppaywallet</string>
		<string>uppayx1</string>
		<string>uppayx2</string>
		<string>uppayx3</string>
		<string>银行 APPScheme1</string>
		<string>银行 APPScheme2</string>
		<string>银行 APPScheme3</string>
		<string>comgooglemaps</string>
		<string>iosamap</string>
		<string>qqmap</string>
		<string>baidumap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>我们需要通过您的相机来拍摄照片和视频，来用于意见反馈功能数据提交，是否同意？</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要获取您的位置来获取周边的商户信息，是否同意？</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们需要访问您的地理位置来进行乘车路线搜索，是否同意？</string>
	<key>NSLocationUsageDescription</key>
	<string>我们需要访问您的位置，来进行乘车路线搜索，是否同意？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要访问您的位置来进行乘车路线搜索，是否同意？</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要通过您的麦克风来拍摄视频，用于意见反馈功能，是否同意？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们需要访问您的相册来保存图片或视频，来用于意见反馈功能数据提交，是否同意？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要访问您的相册来添加照片和视频，用于来用于意见反馈功能数据提交，是否同意？</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>我们需要访问您的语音来进行语音录制，来用于意见反馈功能数据提交，是否同意？</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
